<nav class="w-full h-14 p-3 flex justify-between items-center bg-white shadow-lg">
    <div class="logo ml-4">
        <span class="text-black font-bold flex justify-start items-center">GET CARRIER</span>
    </div>
    <div class="nav-items flex">
        <button class="text-white bg-indigo-600 items-center w-full px-4 py-2 mt-2 mr-4 text-sm font-semibold text-left  rounded-lg">Login</button>
        <button class="text-white bg-indigo-600 items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left  rounded-lg">SignUp</button>
    </div>
</nav>
